---
//import sprites
import ls from '../assets/trex-runner/assets/LDPI/sprite.png';
import lt from '../assets/trex-runner/assets/LDPI/sprite.png';
// todo add also lhdpi for background etc..
import hs from '../assets/trex-runner/assets/HIDPI/sprite.png';
import ht from '../assets/trex-runner/assets/HIDPI/trex.png';
import hbb from '../assets/trex-runner/assets/HIDPI/back.png';
import hbm from '../assets/trex-runner/assets/HIDPI/middle.png';
import hbf from '../assets/trex-runner/assets/HIDPI/front.png';

//import css
import '../assets/trex-runner/css/main.css';

//import audio
import fs from 'node:fs/promises';

var url = new URL('../assets/trex-runner/assets/audio/press.txt', import.meta.url);
const fx_press = await fs.readFile(url, { encoding: 'utf-8' });

url = new URL('../assets/trex-runner/assets/audio/hit.txt', import.meta.url);
const fx_hit = await fs.readFile(url, { encoding: 'utf-8' });

url = new URL('../assets/trex-runner/assets/audio/coin.txt', import.meta.url);
const fx_coin = await fs.readFile(url, { encoding: 'utf-8' });

url = new URL('../assets/trex-runner/assets/audio/gem.txt', import.meta.url);
const fx_gem = await fs.readFile(url, { encoding: 'utf-8' });

url = new URL('../assets/trex-runner/assets/audio/reached.txt', import.meta.url);
const fx_reached = await fs.readFile(url, { encoding: 'utf-8' });
---

<div id="t" class="offline">
	<div id="main-frame-error" class="interstitial-wrapper">
		<div id="main-content"></div>
	</div>
	<div id="offline-resources">
		<!-- LDPI SPIRTE SHEET  -->
		<img id="ldpi-sprites" src={ls} />
		<img id="ldpi-trex" src={lt} />
		<!-- HIDPI SPIRTE SHEET  -->
		<img id="hidpi-sprites" src={hs} />
		<img id="hidpi-trex" src={ht} />
		<img id="hidpi-back" src={hbb} />
		<img id="hidpi-mid" src={hbm} />
		<img id="hidpi-front" src={hbf} />
		<template id="audio-resources">
			<audio id="offline-sound-press" src={fx_press}></audio>
			<audio id="offline-sound-hit" src={fx_hit}></audio>
			<audio id="offline-coin" src={fx_coin}></audio>
			<audio id="offline-sound-reached" src={fx_reached}></audio>
			<audio id="offline-gem" src={fx_gem}></audio>
		</template>
		<!--  -->
	</div>
</div>

<script is:inline src="/trex-runner/js/cfg.js"></script>
<script is:inline src="/trex-runner/js/riddle.js"></script>
<script is:inline src="/trex-runner/js/cloud.js"></script>
<script is:inline src="/trex-runner/js/horizon.js"></script>
<script is:inline src="/trex-runner/js/horizonline.js"></script>
<script is:inline src="/trex-runner/js/collision.js"></script>
<script is:inline src="/trex-runner/js/distanceMeter.js"></script>
<script is:inline src="/trex-runner/js/winpanel.js"></script>
<script is:inline src="/trex-runner/js/gameoverpanel.js"></script>
<script is:inline src="/trex-runner/js/pickup.js"></script>
<script is:inline src="/trex-runner/js/obstacle.js"></script>
<script is:inline src="/trex-runner/js/trex.js"></script>
<script is:inline src="/trex-runner/js/utils.js"></script>
<script is:inline src="/trex-runner/js/game.js"></script>
